<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <title th:text="${customer.id == null ? '':'Edit '+customer.firstName+' '+customer.lastName}"></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body class="h-full">

<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <!-- Left Side - Logo and Navigation Links -->
                <div class="flex items-center">
                    <div class="shrink-0">
                        <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-5 flex items-baseline space-x-4">
                            <!-- Navigation Links -->
                            <a th:href="@{/}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
                            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
                            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
                            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
                            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Reports</a>
                        </div>
                    </div>
                </div>

                <!-- Right Side - Logout Link -->
                <div class="hidden md:block ml-auto">
                    <a href="#" th:href="@{/login}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900" th:text="${customer.id == null ? '':''}"></h1>
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-12">
            <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
                <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                    <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="mx-auto max-w-2xl text-center">
                    <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl" th:text="${customer.id == null ? 'Add new file':'Change your file'}"></h2>
                    <p class="mt-2 text-lg/8 text-gray-600">Please upload your file</p>
                </div>
                <form th:action="@{/save}" role="form" th:method="POST" th:object="${customer}" class="mx-auto mt-16 max-w-xl sm:mt-20"
                enctype="multipart/form-data">
                    <input type="hidden" th:field="${customer.id}">
                    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                        <div>
                            <label for="firstName" class="w-full text-sm font-semibold text-gray-900">File Name</label>
                            <div class="mt-2.5">
                                <input type="text" th:field="${customer.firstName}" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="Enter file name">
                                <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                     class="text-red-600 text-sm mt-1"></div>
                            </div>
                        </div>
                        <div>
                            <label for="lastName" class="block text-sm/6 font-semibold text-gray-900" style="display: none">Last name</label>
                            <div class="mt-2.5">
                                <input type="hidden" value="filename" th:field="${customer.lastName}" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                     class="text-red-600 text-sm mt-1"></div>
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="email" class="block text-sm/6 font-semibold text-gray-900" style="display:none;">Email</label>
                            <div class="mt-2.5">
                                <input type="hidden" value="example@mail.com" th:field="${customer.email}" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                     class="text-red-600 text-sm mt-1"></div>
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="phone" class="block text-sm/6 font-semibold text-gray-900" style="display: none">Phone number</label>
                            <div class="mt-2.5">
                                <input type="hidden" value="01798659666" th:field="${customer.phone}" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                            </div>
                        </div>


                            <div>
                                <label for="fileImage" class="block text-sm/6 font-semibold text-gray-900">Choose File</label>
                                <div class="mt-2.5">
                                    <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                                    <p id="imageError" class="hidden text-red-600 text-sm mt-1">File size exceeds 1MB. Please upload a smaller file.</p>
                                </div>
                            </div>
                            <div>
                                <img th:src="@{/{image}(image=${customer.photosImagePath})}" id="thumbnail" class="h-24 w-auto border p-1 rounded-md" alt="Photo preview">
                            </div>


                    </div>
                    <div class="mt-10">
                        <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </main>
</div>
<script>
    $(document).ready(function() {
        $('#fileImage').change(function () {

            fileSize = this.files[0].size;

            if(fileSize > 1048576) {
                $('#imageError').removeClass("hidden")
            } else {
                $('#imageError').addClass("hidden")
                showImageThumbnail(this);
            }
        });
    });

    function showImageThumbnail(fileInput) {
        var file = fileInput.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#thumbnail').attr("src", e.target.result);
        };
        reader.readAsDataURL(file);

    }
</script>

</body>
</html>